# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# HuggingFace / caches
hf_cache/
.cache/

# Results
results/
rag_*_results.json

# Optional: ignore large dataset artifacts
datasets/*/images/
datasets/*/final_dataset_images/
datasets/**/*.zip
datasets/WebQA_data_first_release/

# Secrets
OpenAI_key.txt
